body {
  background-image: url('bgImage.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.input-outline {
  border: 2px solid #6a8fff;
  background-color: white;
  color: #003;
}

.input-outline:focus {
  border-color: #305eff;
  box-shadow: 0 0 5px #8ab6ff;
}

label {
  color: #4a6eff;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
}


.btn-custom {
  background-color: #4a6eff;
  color: white;
  border: 2 px;
  border-radius: 5 px;
}

.btn-custom:hover {
  background-color: #305eff;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

.small-note {
  font-size: 0.85rem;
}
